# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Virtual Environment
venv/
env/
*.env/
.env/

# IDE (例如，PyCharm)
.idea/

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
log/
*.log